/* ^ Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #009ad8;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 20px;
}

body {
    overflow: hidden;
}

::selection {
    background-color: var(--main-color);
    color: #fff;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #323544;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2.5px;
}

/* ^ Extra Small (xs) */
@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}

/* ^ Small (sm) */
@media (min-width: 577px) and (max-width: 768px) {
    .container {
        max-width: 650px;
    }
}

/* ^ Medium (md) */
@media (min-width: 769px) and (max-width: 992px) {
    .container {
        max-width: 780px;
    }
}

/* ^ Large (lg) */
@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        max-width: 980px;
    }
}

/* ^ Extra Large (xl) */
@media (min-width: 1201px) {
    .container {
        max-width: 1180px;
    }
}

/* ^ End of Global Styles */

/* ^ Loader */

.loader-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1e202bfb;
    z-index: 1;
}
.loader-container .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-radius: 50%;
    border-top-color: var(--main-color);
    animation: spin 1s ease-in-out infinite;
    z-index: 2;
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* ^ End of Loader */

/* ^ Navbar Styles */
nav {
    background-color: #1e202b;
    color: #fff;
    padding-block: 20px;
}
@media (max-width: 992px) {
    nav {
        padding-block: 10px;
    }
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav .bar {
    cursor: pointer;
    width: 25px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    --bg-color: #fff;
}
@media (max-width: 992px) {
    nav .bar {
        display: flex;
    }
}
nav .bar:hover {
    --bg-color: var(--main-color);
}
nav .bar span {
    position: relative;
    width: 25px;
    height: 3px;
    background-color: var(--bg-color);
    transition: background-color 0.3s;
}
nav .bar span::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--bg-color);
    transition: background-color 0.3s;
}
nav .bar span::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--bg-color);
    transition: background-color 0.3s;
}
nav .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    margin-top: 18px;
}
nav .logo img {
    width: 70px;
}
nav .logo h1 {
    font-size: 18px;
    margin-bottom: -5px;
}
nav .logo span {
    font-size: 13px;
    font-weight: 200;
    color: #bfc1c8;
    display: inline-block;
}
nav ul.links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 18px;
}
@media (max-width: 992px) {
    nav ul.links {
        flex-direction: column;
        width: 100%;
        padding-top: 30px;
        display: none;
    }
}
nav ul li a {
    font-size: 15px;
    border: 2px solid var(--main-color);
    border-color: transparent;
    border-radius: 20px;
    padding: 4px 20px;
    outline: none;
    transition: border-color 0.3s, color 0.3s;
}
nav ul li a:hover,
nav ul a.active {
    border-color: var(--main-color);
    color: var(--main-color);
}

nav ul.links-for-mobile {
    width: 100%;
    height: 0px;
    padding: 0px;
    transition: height 0.4s ease, padding-top 0.4s ease;
}
nav ul.links-for-mobile.active {
    padding-top: 20px;
    height: 410px;
}
nav ul.links-for-mobile li a {
    width: 100%;
    text-align: center;
    border: none;
    margin: 0;
    transition: color 0.3s;
}
nav ul.links-for-mobile li:hover a {
    color: var(--main-color);
}
nav ul.links-for-mobile li:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
nav ul.links-for-mobile li:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav ul.links-for-mobile li {
    width: 100%;
    background-color: #262936;
    padding: 20px;
    cursor: pointer;
}
nav ul.links-for-mobile li:not(:last-of-type) {
    border-bottom: #3c3f4a solid 1px;
}
nav ul.links-for-mobile {
    gap: 0;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

/* ^ End of Navbar */

/* ^ Main Styles */
/* ^ Search */
main {
    background-color: #1e202b;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    min-height: calc(100vh - 180px);
    padding-bottom: 70px;
    display: flow-root;
}
main .search {
    width: 100%;
    background-color: #1e202b;
    padding: 0px 3px 0px 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 50px;
}
@media (max-width: 992px) {
    main .search {
        margin-block: 25px;
    }
}
main .search input {
    background-color: transparent;
    outline: none;
    border: none;
    padding-block: 18px;
    width: 80%;
    height: 100%;
    color: #fff;
    font-size: 19px;
}
main .search button {
    padding: 16px 25px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}
/* ^ End of Search */
/* ^ Cards Style */
main .cards {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
@media (max-width: 992px) {
    main .cards {
        grid-template-columns: 1fr;
    }
}
main .cards .card {
    color: #fff;
    min-height: 356.462px;
}
main .cards .card .header {
    padding: 5px 20px;
    color: #bfc1c8;
}
@media (max-width: 576px) {
    main .cards .card .header {
        font-size: 14px;
    }
}
main .cards .card.today .header {
    display: flex;
    justify-content: space-between;
}
main .cards .card .body {
    padding: 20px;
}
main .cards .card.today,
main .cards .card.today .header,
main .cards .next-days-cards .card:nth-of-type(2) {
    background-color: #323544;
}
@media (max-width: 992px) {
    main .cards .next-days-cards .card:nth-of-type(2) {
        border-bottom-right-radius: 10px;
    }
}
main .cards .card.today .header,
main .cards .next-days-cards .card:nth-of-type(2) .header {
    background-color: #2d303d;
}
main .cards .next-days-cards .card:nth-of-type(1) {
    background-color: #262936;
}
@media (max-width: 992px) {
    main .cards .next-days-cards .card:nth-of-type(1) {
        border-bottom-left-radius: 10px;
    }
}
main .cards .next-days-cards .card:nth-of-type(1) .header {
    background-color: #222530;
}
main .cards .next-days-cards .card:nth-of-type(1) .header,
main .cards .next-days-cards .card:nth-of-type(2) .header {
    text-align: center;
}
main .cards .next-days-cards .card:nth-of-type(1) .body,
main .cards .next-days-cards .card:nth-of-type(2) .body {
    margin-top: 30px;
}
main .cards .card.today .body .location-name {
    color: #bfc1c8;
    font-size: 20px;
    margin-block: 10px -5px;
}
@media (max-width: 576px) {
    main .cards .card.today .body .location-name {
        font-size: 15px;
    }
}
main .cards .card.today {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}
@media (max-width: 992px) {
    main .cards .card.today {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
}
main .cards .next-days-cards {
    display: flex;
    flex-wrap: wrap;
}
main .cards .next-days-cards .card {
    width: 50%;
}
@media (max-width: 576px) {
    main .cards .next-days-cards .card {
        width: 100%;
    }
    main .cards .next-days-cards .card:nth-of-type(1) {
        border-bottom-left-radius: 0;
    }
    main .cards .next-days-cards .card:nth-of-type(2) {
        border-bottom-left-radius: 10px;
    }
}
main .cards .card.today .footer {
    margin-top: 10px;
}
main .cards .card.today .footer > span {
    margin-right: 15px;
    display: inline-flex;
    gap: 7px;
    align-items: center;
}
main .cards .next-days-cards > div {
    flex-grow: 1;
}
main .cards .card:nth-of-type(3) {
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
main .cards .card.today .body .degree {
    font-size: 80px;
    font-weight: 700;
}
@media (max-width: 576px) {
    main .cards .card.today .body .degree {
        font-size: 50px;
        font-weight: 700;
    }
}
main .cards .card.today .body .weather-icon {
    display: inline-block;
    margin-top: -18px;
}
main .cards .card.today .body .weather-status {
    color: var(--main-color);
}
main .cards .card.today .body .other-info {
    color: #bfc1c8;
    display: flex;
    align-items: center;
}
main .cards .card.next-days .body {
    text-align: center;
}
main .cards .card.next-days .body .weather-icon {
    display: inline-block;
}
main .cards .card.next-days .body .degree-max {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -5px;
}
main .cards .card.next-days .body .degree-min {
    color: #bfc1c8;
    margin-bottom: 20px;
}
main .cards .card.next-days .body .weather-status {
    color: var(--main-color);
}
/* ^ End of Cards Style */
/* ^ End of Main Styles */

/* ^ Footer Styles */
footer {
    background-color: #262936;
    padding: 30px 20px;
    text-align: center;
    color: #bfc1c8;
}
footer a {
    color: var(--main-color);
}
/* ^ End of Footer Styles */
